<div class="header-nav col-12-top grid text-left">
    <div class="col-4_sm-12-middle sm-padded-b-0">
        <a href="/index.html" class="logo">
            <h2 > THE SLEEP CO</h2>
        </a>

    </div>

    <nav class="col-8_sm-12-middle text-right sm-text-center">
        <a href="/index.html" class="padded-sm">Home</a>
        <a href="/about.html" class="padded-sm">About</a>
        <a href="/products.html" class="padded-sm">Our Products</a>
        <a href="/contact.html" class="padded-sm">Contact</a>
    </nav>
</div>