<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-12-middle text-center">
        <h3 class="footer-text">THE SLEEP CO</h3>  
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui minus ea corporis deleniti consequuntur laudantium! <br> Ab ex enim nostrum ea accusamus non impedit deserunt, quam eveniet commodi sunt eaque nesciunt.</p>
    </div>
    <div class="col-12-middle text-center"> 
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-pinterest-square"></i>
        <i class="fab fa-instagram-square"></i>
    </div>
</footer>
